<div id="<%= dom_id stuff %>">
  <p>
    <strong>Title:</strong>
    <%= stuff.title %>
  </p>

  <p>
    <strong>Manufactured:</strong>
    <%= stuff.manufactured %>
  </p>

  <p>
    <strong>Expiry:</strong>
    <%= stuff.expiry %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= stuff.genre %>
  </p>

</div>
