<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Stuff</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to stuffs_path, class: button_class(theme: "transparent") do %>
      All Stuffs
      <% end %>
      <%= link_to edit_stuff_path(@stuff), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @stuff.name %></p>
      </li>
      <li>
        <p class="font-semibold">Manufactured:</p>
        <p><%= @stuff.manufactured %></p>
      </li>
      <li>
        <p class="font-semibold">Expiry:</p>
        <p><%= @stuff.expiry %></p>
      </li>
      <li>
        <p class="font-semibold">Genre:</p>
        <p><%= @stuff.genre %></p>
      </li>
  </ul>
</div>
